.main{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.adventure{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 772px){
    .main{
        display: flex;
        flex-direction: column-reverse;
    }
    .adventure{
        grid-template-columns: repeat(1, 1fr);
    }
    
}