.main{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.adventure{
    margin-top: 10px;
    margin-right: 20px;
    border: 1px solid gainsboro;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

@media screen and (max-width: 600px){
    .adventure{
        grid-template-columns: repeat(1, 1fr);
    }
}