.main{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.adventure{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media screen and (max-width: 600px){
    .adventure{
        grid-template-columns: repeat(1, 1fr);
        margin-right: 30x;
    }
    
}